<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0_B9QTh3HAkrOggR3aLej6_l9VQlBGBw</string>
	<key>GCM_SENDER_ID</key>
	<string>895538475573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hamqadam</string>
	<key>PROJECT_ID</key>
	<string>hamqadam-13e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>hamqadam-13e2b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895538475573:ios:65f96e1137b1d6e1c2b77c</string>
</dict>
</plist>